.Laptops {
  background-color: #ffdd59;
}

.Clothes {
  background-color: #59981a;
}

.Phones {
  background-color: #3c40c6;
}

.Furniture {
  background-color: #4bcffa;
}

.Shoes {
  background-color: #d2dae2;
}

.Electronics {
  background-color: #ff5e57;
}

.Cars {
  background-color: #f53b57;
}
.Appliances {
  background-color: #00d8d6;
}
.Boats {
  background-color: #3c40c6;
}

.Motocycles {
  background-color: #ffa801;
}
.Toys {
  background-color: #05c46b;
}
.Collectibles {
  background-color: #808e9b;
}

.blue {
  background-color: #2ceef0;
}

.red {
  background-color: #e43d40;
}

.red2 {
  background-color: #f37970;
}

.red3 {
  background-color: #fabec0;
}

.green3 {
  background-color: #ecf87f;
}

.green {
  background-color: #59981a;
}

.green2 {
  background-color: #81b622;
}

.yellow {
  background-color: #ffa801;
}
